<MudCard Elevation=3>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Cliente: @NomeCliente</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <p>Endereço: @Endereco</p>
    </MudCardContent>
</MudCard>