<MudSimpleTable>
    <thead>
        <tr>
            <th>Coluna</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <MudSkeleton />
            </td>
            <td>
                <MudSkeleton />
            </td>
        </tr>
    </tbody>
</MudSimpleTable>