<MudStack Row=true Spacing="2" Class="d-flex align-content-center justify-center align-center">
    @* <MudImage Src="images/logo 2022 1024x1024 - Copia (2) - Copia - Copia - Copia.png" Alt="MaterialeShop logotipo"
        Width="40" Height="40" /> *@
    <MudImage Src="images/casinha com borda preta.fw.png" Alt="MaterialeShop logotipo"
        Style="height:40px" Fluid  />
    <MudStack Row=false Spacing="0">
        <p class="logo">MaterialeShop</p>
        <p class="logo_subtitle">Orçamentos de materiais de construção</p>
    </MudStack>
</MudStack>

<style>
    .logo {
        font-family: 'Montserrat';
        color: #000000;
        font-size: 20px
    }

    .logo_subtitle {
        font-family: 'Poppins';
        color: #424242;
        font-size: 10px
    }
</style>
