@page "/comparativo/{ListaId:int}"

@inherits BasePageComponent

@using MaterialeShop.Admin.Src.Shared.Components

<PageTitle>MaterialeShop - Orçamentos</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <MudText Typo="Typo.h5">Comparativo de orçamentos</MudText>
    <br>

    

    <br>
    <br>
    <br>
    <br>
    <br>

</div>