@page "/comparativo/{ListaId:int}"

@inherits BasePageComponent

@using Dtos
@using MaterialeShop.Admin.Src.Shared.Components

<PageTitle>MaterialeShop - Orçamentos</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <MudText Typo="Typo.h5">Comparativo de orçamentos</MudText>
    <br>

    @if( (_ListaItemList == null || !_ListaItemList.Any()) && 
            (_OrcamentoViewList == null || !_OrcamentoViewList.Any()) &&
            (_OrcamentoItemList == null || !_OrcamentoItemList.Any()) )
    {
        <MudSkeleton />
    } else
    {
        <MudSimpleTable Hover="true" Bordered="true" Striped="true" Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Produtos</th>
                    <th>Quantidade</th>
                    @foreach (OrcamentoView item in _OrcamentoViewList)
                    {
                        <th>@item.Nome</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>x</td>
                    <td>x</td>
                    <td>x</td>
                    <td>x</td>
                    <td>x</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    }

    <br>
    <br>
    <br>
    <br>
    <br>

</div>