@page "/lista/{ListaId:int}/orcamento/{OrcamentoId:int}"

@inherits BaseCrudPageComponent<Orcamento>

@using Dtos
@using MaterialeShop.Admin.Src.Shared.Components

@inject NavigationManager NavigationManager

<PageTitle>MaterialeShop - Cadastrar orçamento</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <MudText Typo="Typo.h5">Cadastrar orçamento</MudText>

    <br>
    <ListaViewCard ListaId="ListaId"></ListaViewCard>
    <br>
    


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>