@page "/"
@using MaterialeShop.Admin.Src.Shared.Components

<PageTitle>MaterialeShop</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <MudText Typo="Typo.h5">MaterialeShop</MudText>

    <br>


</div>