@page "/lista/{ListaId:int}/selecionar-loja"

@inherits BasePageComponent

@using MaterialeShop.Admin.Src.Pages.OrcamentosFolder.OrcamentosListaFolder
@using MaterialeShop.Admin.Src.Shared.Components

<PageTitle>MaterialeShop - Selecionar lojas</PageTitle>

<AppBarCustom />

<div class="px-2 px-sm-8 px-md-16 pt-6 pt-sm-8 pt-md-8">

    <Breadcrumbs Items="_items"></Breadcrumbs>
    <br>

    <MudText Typo="Typo.h5">Selecionar lojas</MudText>
    <br>
    
    <OrcamentosComponent ListaId="ListaId"></OrcamentosComponent>
    
    <br>
    <br>
    <br>
    <br>
    <br>

</div>